.todo-container-list {
  height: 100%;
  min-width: 320px;
  position: relative;
  margin-right: 20px;

  .todo-column-title {
    margin-bottom: 8px;
    padding-left: 10px;
    padding-top: 3px;
    word-break: break-all;
    min-height: 18px;
    cursor: pointer;
  }
  
  .delete-column {
    position: absolute;
    border: 0;
    background-color: #b4c7ed;
    color: #389aa7;
    top: 7px;
    right: 0px;

    &::after {
      content: '\00D7';
      font-size: 20px;
      padding: 7px;
    }

    &:hover {
      color:#2f646b;
    }
  }

  .todo-column-item {
    background-color: #52a5b070;
    padding-left: 20px;
  }
}