.container-item {
  background-color: #ffffff4f;
  height: 18px;
  padding: 8px 20px;
  box-shadow: 2px 2px 5px #52a5b070;
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
  
  .case-buttons {
    width: 34px;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 16px;

    button {
      background-color: transparent;
      border: 0;
      color: #065657;
      font-size: 18px;

    }
    .edit-item::after {
      content: '\0270E';
    }

    .delete-item::after {
      content: '\00D7';
    }

    .edit-item:hover, .delete-item:hover {
      background-color: rgba(255, 255, 255, 0.329);
      border-radius: 2px;
      border: 0;
    }
  }

  &:hover .case-buttons {
    display: flex;
  }

}