.container {
  min-width: 300px;
  padding: 7px;
  background-color: rgba(230, 227, 227, 0.377);
  border-radius: 4px;
  margin-bottom: 7px;

  input {
    width: 95.7%;
    height: 30px;
    border-radius: 4px;
    border: 0;
    padding-left: 10px;
  }

  textarea {
    width: 97.5%;
    min-height: 50px;
    resize: none;
    padding: 10px 0 0 10px;
    border: 0;
    border-radius: 4px;
  }

  .btn {
    width: 70px;
    height: 25px;
    background-color: #389aa7;
    border: 0;
    border-radius: 4px;
    color: white;
    margin: 7px 7px 0 0;
  }
}