.home-container {
  height: 100vh;

  margin: 0 auto;
  padding: 40px 40px 0;
  background-color: #eff8f9;

  h1 {
    margin: 0;
    padding: 40px;
  }

  .container-boards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
}