.create-board {
  width: 250px;
  height: 120px;
  display: flex;
  font-weight: 400;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #edeeee;
  cursor: pointer;
  margin: 7px;

  &:hover {
    background-color: #e9e9e9;
  }
}

.title-board {
  width: 250px;
  height: 100px;
  border-radius: 4px;
  margin: -33px 180px;
  padding: 0 8px;
  box-shadow: 5px 5px 5px #a6a5a5;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  background-color: #cfcdcdba;

  div {
    width: 100%;
    margin-top: 5px;
    color: #2e2e2e;
    font-size: 14px;
  }

  input {
    width: 100%;
    height: 20px;
    border-radius: 1px;
    border: 0;
    padding-left: 5px;

    &:focus-visible {
      outline: 1px solid #4a7f80;
    }
  }

  button {
    width: 40%;
    height: 25px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #389aa7;
    cursor: pointer;

    &:hover {
      background-color: #287d88;
    }
  }
}