body {
  margin: 0;
  padding: 0;
}

#app {
  background-color: rgba(121, 163, 241, 0.774);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 80px;
}

.todo-column-list {
  display: flex;
  overflow: auto;
}


.todo-column-item {
  min-width: 319px;
  height: 35px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.226);
  border: 0;
  border-radius: 4px;
  color: white;
  text-align: start;
}

.container {
  min-width: 300px;
  padding: 7px;
  background-color: rgba(230, 227, 227, 0.377);
  border-radius: 4px;
}

.todo-container-list {
  height: 100%;
  min-width: 320px;
  position: relative;
}

.container input {
  width: 95.7%;
  height: 30px;
  border-radius: 4px;
  border: 0;
  padding-left: 10px;
}

.container input:focus-visible {
  outline: 2px solid #389aa78c;
}

.container .btn {
  width: 70px;
  height: 25px;
  background-color: #389aa7;
  border: 0;
  border-radius: 4px;
  color: white;
  margin: 7px 7px 0 0;
}

.todo-container-list {
  margin-right: 20px;
}

.todo-container-list .todo-column-title {
  margin-bottom: 8px;
  padding-left: 10px;
  padding-top: 3px;
  word-break: break-all;
  min-height: 18px;
  cursor: pointer;
}

.todo-container-list .todo-column-item  {
  background-color: #52a5b070;
  padding-left: 20px;
}

.todo-container-list textarea {
  width: 97.5%;
  min-height: 50px;
  resize: none;
  padding: 10px 0 0 10px;
  border: 0;
  border-radius: 4px;
}

.todo-container-list textarea:focus-visible {
  outline: 2px solid #389aa78c;
}
.container-item {
  background-color: #ffffff4f;
  height: 18px;
  padding: 8px 20px;
  box-shadow: 2px 2px 5px #52a5b070;
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
}

.confirm-add-list:focus-visible {
  outline: 0;
}

.delete-column {
  position: absolute;
  top: 5px;
  right: 10px;
}

.delete-column::after {
  content: '\00D7';
  color: #389aa7;
  font-size: 20px;
  padding: 7px;
}

.delete-column:hover {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.329);
}
.case-buttons {
  width: 30px;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 7px;
  right: 10px;
}

.edit-item::after {
  content:'\0270E';
  padding: 3px;
  color: #065657;
}

.delete-item::after {
  content: '\00D7';
  color: #065657;
  padding: 4px;
}

.container-item:hover .case-buttons {
  display: flex;
}

.edit-item:hover, .delete-item:hover {
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 2px;
}