.container-edit {
  width: 250px;
  background-color: #d8d9d9;
  box-shadow: 5px 5px 5px #a6a5a5;
  margin: 5px;
  border-radius: 4px;
  position: absolute;
  top: -70px;
  left: 190px;
  z-index: 1;

  input {
    width: 88%;
    height: 23px;
    margin: 10px 5px;
    padding-left: 15px;
    border-radius: 2px;
    border: 0;
  }

  button {
    width: 60px;
    height: 25px;
    border: 0;
    background-color: #29b0b0;
    margin: 9px 7px;
    color: white;
    border-radius: 3px;
  }
}