.board {
  min-width: 250px;
  width: 250px;
  height: 120px;
  border-radius: 4px;
  background-color: #389aa79f;
  margin-right: 20px;
  position: relative;
  margin: 7px;

  &:hover .case-button{
    display: block;
  }

  div {
    margin: 15px;
  }

  .case-button {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;

    button {
      background-color: transparent;
      border: 0;
      font-size: 16px;
      padding: 0 3px;
    }
  
    .delete-board::after {
      content: 'x';
    }
  
    .change-title::after {
      content: '\270E';

    }
  }
}